<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Diego, My academic journey has provided me with a solid foundation in computer science, 
      fueling my passion for innovation and research. Currently I am <strong
        > developing AI Powered Mobile Solutions</strong
      >.
    </p>

    <p>
      Some of my success cases are <strong
        >Developing a Point of Sales (POS) Mobile Application with native device capabilities, 
        a Car Concessionaire Management App, and a Digital Health Form Application for the healthcare sector. 
        </strong
      >
    </p>

    <p>
      As an AI Researcher, <strong
        >My work has focused on fine-tuning and optimizing <em class="italic">(Large Language Models LLMs)</em>
        such as Llama 3, GPT-3.5, and Deepseek-R1, 
        creating custom chatbots capable of generating useful content for specific use cases</strong
      >. My objective is integrating AI to my Mobile Apps to help clients with innovative solutions using cutting-edge 
      technologies.
    </p>
  </div>

  <img width="200" height="200" src="/src/assets/diegoboos.jpeg" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
