<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-600 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi trayectoria académica me ha proporcionado una base sólida en ciencias
      de la computación, alimentando mi pasión por la innovación y la
      investigación. Actualmente estoy <strong>
        desarrollando soluciones impulsadas por IA</strong
      >.
    </p>

    <p>
      Algunos de mis proyectos más destacados incluyen el <strong
        >desarrollo de una aplicación móvil de Punto de Venta (POS), una
        aplicación móvil de formularios de salud digital para el sector
        sanitario y una aplicación web educativa impulsada por inteligencia
        artificial, específicamente modelos de código abierto, específicamente
        Llama 3 para ayudar a los usuarios a interactuar con sus propios
        documentos.</strong
      >
    </p>

    <p>
      Como Investigador de IA, <strong
        >mi trabajo se ha centrado en afinamiento y la optimización de <em
          class="italic">Modelos de Lenguaje Grande (LLMs)</em
        >
        como Llama, GPT y Deepseek, creando chatbots personalizados capaces de generar
        contenido útil para casos de uso específicos</strong
      >. Mi objetivo es integrar la IA de manera eficiente para ayudar a los
      clientes con soluciones innovadoras utilizando tecnologías de vanguardia.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/src/assets/diegoboos.jpeg"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-white ring-1 ring-gray-200"
    style="object-position: 50% 50%"
  />
</article>
