---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2021 – 2025",
    title: "Desarrollador Móvil",
    company: "SIRIS S.A.S",
    description:
      "Diseño y desarrollo de aplicaciones móviles modernas para iOS y Android. He liderado proyectos clave como sistemas de punto de venta y aplicaciones de salud digital, transformando la eficiencia operativa y la gestión de datos clave. Especializado también en adaptar la Inteligencia Artificial para crear asistentes virtuales que resuelven necesidades específicas del negocio.",
    link: "https://siris.com.co",
  },
  {
    date: "Abril 2024",
    title: "Applied Artificial Inteligence and Machine Learning",
    company: "Ontario College Graduate Certificate",
    description:
      "Especialización enfocada en usar la Inteligencia Artificial para resolver problemas reales del mundo empresarial y optimizar procesos de negocio.",
  },
  {
    date: "Mayo 2024 – Agosto 2024",
    title: "Investigador de IA — Laboratorio de Realidad Virtual y Aumentada",
    company: "VARLab",
    description:
      "Investigación y desarrollo de soluciones inteligentes. Creé asistentes virtuales y herramientas de automatización para mejorar el acceso a la información y optimizar procesos internos, evaluando las mejores tecnologías disponibles para cada caso.",
    link: "https://ca.linkedin.com/company/varlab-virtual-and-augmented-reality-lab",
  },
  {
    date: "Enero 2026 – Presente",
    title: "Ingeniero de IA",
    company: "SIRIS CLOUD S.A.S",
    description:
      "Liderazgo en la creación de chatbots personalizados y herramientas de análisis de datos. Implemento soluciones inteligentes que automatizan tareas, optimizan procesos y mejoran significativamente la experiencia del usuario final.",
    link: "https://www.siriscloud.com.co",
  },
  {
    date: "Abril 2025",
    title: "Big Data Solutions Architecture",
    company: "Ontario College Graduate Certificate",
    description:
      "Formación avanzada en el manejo y análisis de grandes volúmenes de datos para facilitar la toma de decisiones estratégicas.",
  },
  {
    date: "Mayo 2025 – Agosto 2025",
    title: "Investigador de IA — Laboratorio de Realidad Virtual y Aumentada",
    company: "VARLab",
    description:
      "Investigación continua sobre cómo las nuevas tecnologías de IA pueden integrarse con entornos virtuales para crear experiencias innovadoras.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
